/* css 公共样式 */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left;
}
.fr {
    float: right;
}

/* icon 图标 */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }