body {
    background: #efefef;
    height: 3000px;
}

/* 网站头部导航 开始 */
.topNavBar {
    width: 100%;
    height: 41px;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.5s;
    color: #b7b7b7;
}
.topNavBar.sticky {
    background: #fff;
    padding: 4px 0 10px;
    z-index: 1;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.6);
    color: #3d4451;
}
.topNavBar-inner {
    padding: 0 16px;
}

/* logo 部分 */
.logo {
    font-family: "Arial Black";
    font-size: 24px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.logo span:first-child {
    color: #e6686a;
    margin-right: 4px;
}
.logo span:last-child {
    color: #9a9da2;
}

/* nav 部分 */
.topNavBar nav {
    padding: 5px 0 2px;
}
.topNavBar>ul {
    height: 28px;
    padding-top: 6px;
}
.topNavBar ul li {
    float: left;
    margin: 0 17px;
    position: relative;
}
.topNavBar ul a {
    font-size: 12px;
    font-family: "Microsoft Yahei";
    color: inherit;
    font-weight: bold;
    padding-bottom: 5px;
    position: relative;
}
.topNavBar ul > li.active a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #e06567;
    animation: menuSlide 0.5s;
}
@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.topNavBar .subMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 138%;
    background: #fff;
    color: #3d4451;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
}
.topNavBar li.active .subMenu {
    display: block;
    animation: submenuSlide 0.3s;
}
@keyframes submenuSlide {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%;
    }
}
ul.subMenu li {
    white-space: nowrap;
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}


/* 网站头部导航结束 */



/* banner 开始 */
.banner {
    height: 515px;
    background: url(../images/banner.jpg) center;
    background-size: cover;
}
.mask {
    height: 515px;
    background: rgba(0, 0, 0, 0.1);
}
/* banner 结束 */



/* 名片 开始 */
body>main {
    margin-top: -340px;
}
.userCard {
    max-width: 940px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.pictureAndText {
    padding: 50px;
}

/* 头像 */
.picture {
    width: 299px;
    height: 323px;
    padding-top: 24px;
}
.picture img {
    width: 299px;
    
}


/* 个人信息 */
.text {
    width: 470px;
    height: 347px;
    margin-left: 65px;
}
.welcome {
    display: inline-block;
    padding: 5px 16px;
    background: #e6686a;
    color: #fff;
    position: relative;
}
.welcome .triangle {
    position: absolute;
    left: 4px;
    top: 100%;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    border-top-width: 0px;
}
.text h1 {
    margin-top: 28px;
}
.text hr {
    margin: 20px 0;
}
.text dt,
.text dd {
    padding: 5px 0;
    float: left;
}
.text dt {
    font-weight: bold;
    width: 30%;
}
.text dd {
    width: 70%;
    color: #9da0a7;
}


/* 尾部导航图标 */
.media {
    background: #E6686A;
    text-align: center;
}
.media a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.media a:hover {
    background: #CF5D5F;
}
.media a svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}
/* 名片 结束 */


/* 下载简历 开始 */
.downloadResume-wrapper {
    text-align: center;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.downloadResume {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #cdcfd1;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    padding: 21px 55px;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
    margin: 32px 0;
    transition: all 0.2s;
}
.downloadResume:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.downloadResume-wrapper p {
    font: 18px/1.8 "楷体";
}
/* 下载简历 结束 */


/* 技能板块 开始 */
.skills {
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}

/* 标题 */
.skills h2,
.sampleReels h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

/* 技能列表 */
.skills ol {
    margin-top: 30px;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    max-width: 940px;
    padding: 42px 50px 10px;
}
.skills ol li {
    float: left;
    width: 48%;
    margin-bottom: 40px;
}
.skills ol li:nth-child(2n) {
    float: right;
}
.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    font-weight: normal;
}

/* 进度条 */
.skills .progressBar {
    width: 100%;
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 0;
}
.skills .progress {
    width: 50%;
    height: 100%;
    background: #E6686A;
    border-radius: 2px;
}
.skills .progress.html {
    width: 10%;
}
.skills .progress.JavaScript {
    width: 20%;
}
.skills .progress.jQuery {
    width: 30%;
}
.skills .progress.Vue {
    width: 40%;
}
.skills .progress.React {
    width: 50%;
}
.skills .progress.Node {
    width: 60%;
}
/* 技能板块 结束 */



/* 作品集板块 开始 */
.sampleReels {
    margin: 60px auto;
    max-width: 940px;
    text-align: center;
}
.sampleReels nav {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 32px 0px 28px;
}
.sampleReels ol {
    display: inline-block;
    vertical-align: top;
}
.sampleReels ol li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}
.sampleReels ol li:first-child {
    margin-left: 0;
}

/* 进度条 */
.sampleReelsBar {
    height: 5px;
    background: #fff;
    margin-top: 5px;
    border-radius: 2px;
}
.sampleReelsBar .bar-inner {
    height: 100%;
    border-radius: 2px;
    background: #E6686A;
    transition: all 0.2s;
}
.sampleReelsBar.state-1 .bar-inner {
    width: 34px;
    margin-left: 0;
}
.sampleReelsBar.state-2 .bar-inner {
    width: 40px;
    margin-left: 70px;
}
.sampleReelsBar.state-3 .bar-inner {
    width: 90px;
    margin-left: 144px;
}

/* 作品 */
.works .big {
    float: left;
}
.works .big img {
    vertical-align: top;
}
.works .small img {
    float: right;
}
.works .small img:first-child {
    margin-bottom: 27px;
}
/* 作品集板块 结束 */




