/* css reset */

html, body, ul, ol, li, dl, dt, dd, input, a, img, h1, p {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
