#section2 {
  font-size: 20px;
  background: #53736a;
  display: flex; justify-content: center; align-items: center;

  > ul {
    width: 400px;
    line-height: 2;
    margin-right: 100px;

    > li:first-child {
      font-size: 36px;
      list-style: none;
      margin-left: -40px;
    }
  }

  > img {
    width: 400px;
  }
}
